# Import packages

In [14]:
import pandas as pd
import requests
import os
import io

# Extract Data from Source

In [15]:
# Extract Covid Data
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df.to_csv('covid_data.csv')

# Store Data into Landing folder in Delta.Storage

In [10]:
def send_to_delta_storage():

    all_files = os.listdir("/Users/thero/OneDrive/Documents/delta.storage/python/delta-storage-quickstart/covid-data/")    
    csv_files = list(filter(lambda f: f.endswith('.csv'), all_files))

    url = "https://api.delta.storage/files/upload"


    for i in csv_files:
        files = { "file": ('/Users/thero/OneDrive/Documents/delta.storage/python/delta-storage-quickstart/covid-data/'+i, open('/Users/thero/OneDrive/Documents/delta.storage/python/delta-storage-quickstart/covid-data/'+i, "rb"), "text/csv") }
        payload = { "directoryId": "3efa408a-8f45-4025-a9f0-46020837802e" }
        headers = {"authorization": "Bearer b3aa3880-76ed-465f-94df-1cadd6d905a4.0.b73c151f-495a-42e5-995d-0b90a8ca267d.3JJXHiiy69Zf4dW34Z2BGfFw7P7kvEaGZAU2YrWYtqxU"}
        response = requests.post(url, data=payload, files=files, headers=headers)
        print(response.text)

In [11]:
send_to_delta_storage()

{"id":"45ac6c45-6c06-47a6-8d53-ad6a6638c076","name":"covid_data.csv","cid":"bafybeiba7w5c32t6jn4mlz6sco3nxzeszz566ob6pg2oxd22bw2yeqzwiq","directoryId":"3efa408a-8f45-4025-a9f0-46020837802e","ownerId":"b73c151f-495a-42e5-995d-0b90a8ca267d","size":1821241,"contentType":"text/csv","softDeleted":false,"status":"pinned","network":null,"pieceId":null,"onChainId":null,"createdAt":"2023-11-29T08:34:44.562Z","updatedAt":"2023-11-29T08:34:44.562Z","driveId":"e53e2d2e-50ae-445b-bb8a-86e9617e41d4","edgeURL":"https://delta.vulcaniclabs.com","password":null,"isEncrypted":false,"storageClasses":[{"storageClassName":"hot","fileId":"45ac6c45-6c06-47a6-8d53-ad6a6638c076","assignedAt":"2023-11-29T08:34:44.562Z"}],"labels":[],"imageLink":"https://delta.vulcaniclabs.com/gw/bafybeiba7w5c32t6jn4mlz6sco3nxzeszz566ob6pg2oxd22bw2yeqzwiq"}

# Pull & Transform Raw Data from Landing using Pandas

In [98]:

url = "https://api.delta.storage/files/decrypt/45ac6c45-6c06-47a6-8d53-ad6a6638c076"

headers = {
    "accept": "application/octet-stream",
    "content-type": "application/json",
    "authorization": "Bearer b3aa3880-76ed-465f-94df-1cadd6d905a4.0.b73c151f-495a-42e5-995d-0b90a8ca267d.3JJXHiiy69Zf4dW34Z2BGfFw7P7kvEaGZAU2YrWYtqxU"
}

response = requests.post(url, headers=headers)
response = response.text
#Load response data into Dataframe
df = pd.read_csv(io.StringIO(response), sep=",")

In [99]:
df = df.iloc[:, 1:]
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [100]:
#Get the Running total of cases 
df = df.drop(['Province/State','Lat','Long'], axis=1)
df = df.groupby('Country/Region').agg('sum')
df = df.reset_index()
df = df.melt('Country/Region',var_name='Date',value_name='Cases')

In [107]:
df.to_csv('curated/curated_covid_cases.csv')

In [112]:
#Send File to Curated Storage 
def send_curated_data_to_storage():

    all_files = os.listdir("/Users/thero/OneDrive/Documents/delta.storage/python/delta-storage-quickstart/covid-data/curated")    
    csv_files = list(filter(lambda f: f.endswith('.csv'), all_files))

    url = "https://api.delta.storage/files/upload"


    for i in csv_files:
        files = { "file": ('/Users/thero/OneDrive/Documents/delta.storage/python/delta-storage-quickstart/covid-data/curated/'+i, open('/Users/thero/OneDrive/Documents/delta.storage/python/delta-storage-quickstart/covid-data/curated/'+i, "rb"), "text/csv") }
        payload = { "directoryId": "bf79104a-b073-4c1b-9de5-7df3e9cf29ab" }
        headers = {"authorization": "Bearer b3aa3880-76ed-465f-94df-1cadd6d905a4.0.b73c151f-495a-42e5-995d-0b90a8ca267d.3JJXHiiy69Zf4dW34Z2BGfFw7P7kvEaGZAU2YrWYtqxU"}
        response = requests.post(url, data=payload, files=files, headers=headers)
        print(response.text)

In [113]:
send_curated_data_to_storage()

{"id":"26a51946-298a-49e1-8060-86727ff7a97f","name":"curated_covid_cases.csv","cid":"bafybeibq3dxnhxunywcv23botfm2ngoxneitxlwehhm4ffr4hmi562vxpa","directoryId":"bf79104a-b073-4c1b-9de5-7df3e9cf29ab","ownerId":"b73c151f-495a-42e5-995d-0b90a8ca267d","size":7108599,"contentType":"text/csv","softDeleted":false,"status":"pinned","network":null,"pieceId":null,"onChainId":null,"createdAt":"2023-11-29T09:01:09.747Z","updatedAt":"2023-11-29T09:01:09.747Z","driveId":"e53e2d2e-50ae-445b-bb8a-86e9617e41d4","edgeURL":"https://delta.vulcaniclabs.com","password":null,"isEncrypted":false,"storageClasses":[{"storageClassName":"hot","fileId":"26a51946-298a-49e1-8060-86727ff7a97f","assignedAt":"2023-11-29T09:01:09.747Z"}],"labels":[],"imageLink":"https://delta.vulcaniclabs.com/gw/bafybeibq3dxnhxunywcv23botfm2ngoxneitxlwehhm4ffr4hmi562vxpa"}

In [115]:
import requests
import io
import pandas as pd

url = "https://api.delta.storage/files/decrypt/26a51946-298a-49e1-8060-86727ff7a97f"

headers = {
    "accept": "application/octet-stream",
    "content-type": "application/json",
    "authorization": "Bearer b3aa3880-76ed-465f-94df-1cadd6d905a4.0.b73c151f-495a-42e5-995d-0b90a8ca267d.3JJXHiiy69Zf4dW34Z2BGfFw7P7kvEaGZAU2YrWYtqxU"
}

response = requests.post(url, headers=headers)
response = response.text
#Load response data into Dataframe
df = pd.read_csv(io.StringIO(response), sep=",")
df = df.iloc[:, 1:]
df

              Country/Region     Date   Cases
0                Afghanistan  1/22/20       0
1                    Albania  1/22/20       0
2                    Algeria  1/22/20       0
3                    Andorra  1/22/20       0
4                     Angola  1/22/20       0
...                      ...      ...     ...
229738    West Bank and Gaza   3/9/23  703228
229739  Winter Olympics 2022   3/9/23     535
229740                 Yemen   3/9/23   11945
229741                Zambia   3/9/23  343135
229742              Zimbabwe   3/9/23  264276

[229743 rows x 3 columns]