In [85]:
import mysql.connector as connection
import pandas as pd
import requests

In [86]:
db_connection = connection.connect(host='127.0.0.1', database='classicmodels', user='root', password='Freddie0211!')

orderDetails = pd.read_sql('SELECT * FROM orderdetails', con=db_connection)
customers = pd.read_sql('SELECT * FROM customers', con=db_connection)
orders = pd.read_sql('SELECT * FROM orders', con=db_connection)
payments = pd.read_sql('SELECT * FROM payments', con=db_connection)
products = pd.read_sql('SELECT * FROM products', con=db_connection)

/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDetails = pd.read_sql('SELECT * FROM orderdetails', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql('SELECT * FROM customers', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql('SELECT * FROM orders', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments = pd.read_sql('SELECT * FROM payments', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products = pd.read_sql('SELECT * FROM products', con=db_connection)

# Send files to Bronze Delta Storage container

In [91]:
dfs = [orderDetails,customers,orders,payments,products]
df_names = ['orderDetails','customers','orders','payments','products']

In [92]:
def send_to_delta_storage(df,filename):

    url = "https://api.delta.storage/files/upload"

    files = { "file": (filename+'.csv',df.to_csv(), "text/csv") }
    payload = { "directoryId": "6d6159ad-b5e5-4571-83ed-cb3b3376a321" }
    headers = {"authorization": "Bearer e68634ae-de6a-4a26-8534-b22825ade398.0.b73c151f-495a-42e5-995d-0b90a8ca267d.8VtfrMEDpfNa2dc5XJyAwYHHL3rCcBkePzjkyAvAHEci"}
    response = requests.post(url, data=payload, files=files, headers=headers)
    print(response.text)

In [95]:
for i,j in enumerate(df_names,0):
    # send_to_delta_storage(dfs[i],str(j))
    display(print(dfs[i],str(j)))

      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0           10100    S18_1749               30     136.00                3
1           10100    S18_2248               50      55.09                2
2           10100    S18_4409               22      75.46                4
3           10100    S24_3969               49      35.29                1
4           10101    S18_2325               25     108.06                4
...           ...         ...              ...        ...              ...
2991        10425    S24_2300               49     127.79                9
2992        10425    S24_2840               31      31.82                5
2993        10425    S32_1268               41      83.79               11
2994        10425    S32_2509               11      50.32                6
2995        10425    S50_1392               18      94.92                2

[2996 rows x 5 columns] orderDetails

None

     customerNumber                    customerName contactLastName  \
0               103               Atelier graphique         Schmitt
1               112              Signal Gift Stores            King
2               114      Australian Collectors, Co.        Ferguson
3               119               La Rochelle Gifts         Labrune
4               121              Baane Mini Imports      Bergulfsen
..              ...                             ...             ...
117             486    Motor Mint Distributors Inc.         Salazar
118             487        Signal Collectibles Ltd.          Taylor
119             489  Double Decker Gift Stores, Ltd           Smith
120             495            Diecast Collectables          Franco
121             496               Kelly's Gift Shop         Snowden

    contactFirstName           phone                  addressLine1  \
0            Carine       40.32.2555                54, rue Royale
1               Jean      7025551838               8489 Strong St.
2              Peter    03 9520 4555             636 St Kilda Road
3            Janine       40.67.8555  67, rue des Cinquante Otages
4             Jonas       07-98 9555        Erling Skakkes gate 78
..               ...             ...                           ...
117             Rosa      2155559857             11328 Douglas Av.
118              Sue      4155554312             2793 Furth Circle
119          Thomas   (171) 555-7555               120 Hanover Sq.
120          Valarie      6175552555                6251 Ingle Ln.
121             Tony   +64 9 5555500            Arenales 1938 3'A'

    addressLine2          city     state postalCode      country  \
0           None        Nantes      None      44000       France
1           None     Las Vegas        NV      83030          USA
2        Level 3     Melbourne  Victoria       3004    Australia
3           None        Nantes      None      44000       France
4           None       Stavern      None       4110       Norway
..           ...           ...       ...        ...          ...
117         None  Philadelphia        PA      71270          USA
118         None      Brisbane        CA      94217          USA
119         None        London      None    WA1 1DP           UK
120         None        Boston        MA      51003          USA
121         None    Auckland        None       None  New Zealand

     salesRepEmployeeNumber  creditLimit
0                    1370.0      21000.0
1                    1166.0      71800.0
2                    1611.0     117300.0
3                    1370.0     118200.0
4                    1504.0      81700.0
..                      ...          ...
117                  1323.0      72600.0
118                  1165.0      60300.0
119                  1501.0      43300.0
120                  1188.0      85100.0
121                  1612.0     110000.0

[122 rows x 13 columns] customers

None

     orderNumber   orderDate requiredDate shippedDate      status  \
0          10100  2003-01-06   2003-01-13  2003-01-10     Shipped
1          10101  2003-01-09   2003-01-18  2003-01-11     Shipped
2          10102  2003-01-10   2003-01-18  2003-01-14     Shipped
3          10103  2003-01-29   2003-02-07  2003-02-02     Shipped
4          10104  2003-01-31   2003-02-09  2003-02-01     Shipped
..           ...         ...          ...         ...         ...
321        10421  2005-05-29   2005-06-06        None  In Process
322        10422  2005-05-30   2005-06-11        None  In Process
323        10423  2005-05-30   2005-06-05        None  In Process
324        10424  2005-05-31   2005-06-08        None  In Process
325        10425  2005-05-31   2005-06-07        None  In Process

                                              comments  customerNumber
0                                                 None             363
1                               Check on availability.             128
2                                                 None             181
3                                                 None             121
4                                                 None             141
..                                                 ...             ...
321  Custom shipping instructions were sent to ware...             124
322                                               None             157
323                                               None             314
324                                               None             141
325                                               None             119

[326 rows x 7 columns] orders

None

     customerNumber checkNumber paymentDate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
268             495    BH167026  2003-12-26  59265.14
269             495    FN155234  2004-05-14   6276.60
270             496    EU531600  2005-05-25  30253.75
271             496    MB342426  2003-07-16  32077.44
272             496     MN89921  2004-12-31  52166.00

[273 rows x 4 columns] payments

None

    productCode                            productName   productLine  \
0      S10_1678  1969 Harley Davidson Ultimate Chopper   Motorcycles
1      S10_1949               1952 Alpine Renault 1300  Classic Cars
2      S10_2016                  1996 Moto Guzzi 1100i   Motorcycles
3      S10_4698   2003 Harley-Davidson Eagle Drag Bike   Motorcycles
4      S10_4757                    1972 Alfa Romeo GTA  Classic Cars
..          ...                                    ...           ...
105   S700_3505                            The Titanic         Ships
106   S700_3962                         The Queen Mary         Ships
107   S700_4002              American Airlines: MD-11S        Planes
108    S72_1253                       Boeing X-32A JSF        Planes
109    S72_3212                             Pont Yacht         Ships

    productScale              productVendor  \
0           1:10            Min Lin Diecast
1           1:10    Classic Metal Creations
2           1:10   Highway 66 Mini Classics
3           1:10          Red Start Diecast
4           1:10    Motor City Art Classics
..           ...                        ...
105        1:700   Carousel DieCast Legends
106        1:700  Welly Diecast Productions
107        1:700        Second Gear Diecast
108         1:72    Motor City Art Classics
109         1:72       Unimax Art Galleries

                                    productDescription  quantityInStock  \
0    This replica features working kickstand, front...             7933
1    Turnable front wheels; steering function; deta...             7305
2    Official Moto Guzzi logos and insignias, saddl...             6625
3    Model features, official Harley Davidson logos...             5582
4    Features include: Turnable front wheels; steer...             3252
..                                                 ...              ...
105  Completed model measures 19 1/2 inches long, 9...             1956
106  Exact replica. Wood and Metal. Many extras inc...             5088
107  Polished finish. Exact replia with official lo...             8820
108  10" Wingspan with retractable landing gears.Co...             4857
109  Measures 38 inches Long x 33 3/4 inches High. ...              414

     buyPrice    MSRP
0       48.81   95.70
1       98.58  214.30
2       68.99  118.94
3       91.02  193.66
4       85.68  136.00
..        ...     ...
105     51.09  100.17
106     53.63   99.31
107     36.27   74.03
108     32.77   49.66
109     33.30   54.60

[110 rows x 9 columns] products

None