In [83]:
import mysql.connector as connection
import pandas as pd
import requests

In [84]:
db_connection = connection.connect(host='127.0.0.1', database='classicmodels', user='root', password='Freddie0211!')

orderDetails = pd.read_sql('SELECT * FROM orderdetails', con=db_connection)
customers = pd.read_sql('SELECT * FROM customers', con=db_connection)
orders = pd.read_sql('SELECT * FROM orders', con=db_connection)
payments = pd.read_sql('SELECT * FROM payments', con=db_connection)
products = pd.read_sql('SELECT * FROM products', con=db_connection)

/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDetails = pd.read_sql('SELECT * FROM orderdetails', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql('SELECT * FROM customers', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql('SELECT * FROM orders', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments = pd.read_sql('SELECT * FROM payments', con=db_connection)
/var/folders/jp/crth5twx4qn08rq4wnfjwl5r0000gn/T/ipykernel_3687/3832084915.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products = pd.read_sql('SELECT * FROM products', con=db_connection)

# Send files to Bronze Delta Storage container

In [82]:
dfs = [orderDetails,customers,orders,payments,products]
df_names = ['orderDetails','customers','orders','payments','products']

In [56]:
def send_to_delta_storage(df,filename):

    url = "https://api.delta.storage/files/upload"
    for i,j in enumerate(filename,0):
        # df[i].to_csv(str(j)+'.csv')

        files = { "file": (str(j)+'.csv',df[i].to_csv(), "text/csv") }
        payload = { "directoryId": "6d6159ad-b5e5-4571-83ed-cb3b3376a321" }
        headers = {"authorization": "Bearer e68634ae-de6a-4a26-8534-b22825ade398.0.b73c151f-495a-42e5-995d-0b90a8ca267d.8VtfrMEDpfNa2dc5XJyAwYHHL3rCcBkePzjkyAvAHEci"}
        response = requests.post(url, data=payload, files=files, headers=headers)
        print(response.text)

In [35]:
orderDetails = orderDetails.merge(orders, on=['orderNumber'], how='left')
orderDetails = orderDetails[['orderNumber','customerNumber','productCode','quantityOrdered','priceEach']]
orderDetails

      orderNumber  customerNumber productCode  quantityOrdered  priceEach
0           10100             363    S18_1749               30     136.00
1           10100             363    S18_2248               50      55.09
2           10100             363    S18_4409               22      75.46
3           10100             363    S24_3969               49      35.29
4           10101             128    S18_2325               25     108.06
...           ...             ...         ...              ...        ...
2991        10425             119    S24_2300               49     127.79
2992        10425             119    S24_2840               31      31.82
2993        10425             119    S32_1268               41      83.79
2994        10425             119    S32_2509               11      50.32
2995        10425             119    S50_1392               18      94.92

[2996 rows x 5 columns]

# Get Payments made per order

# Get payments made by customers

In [23]:
payments_from_customer = orders.merge(payments, on=['customerNumber'], how='left')
payments_from_customer

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,checkNumber,paymentDate,amount
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,HL575273,2004-11-17,50799.69
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,IS232033,2003-01-16,10223.83
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,PN238558,2003-12-05,55425.77
3,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,DI925118,2003-01-28,10549.01
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,FA465482,2003-10-18,24101.81
...,...,...,...,...,...,...,...,...,...,...
1272,10424,2005-05-31,2005-06-08,None,In Process,None,141,MF629602,2004-08-16,20009.53
1273,10424,2005-05-31,2005-06-08,None,In Process,None,141,NU627706,2004-05-17,26155.91
1274,10425,2005-05-31,2005-06-07,None,In Process,None,119,DB933704,2004-11-14,19501.82
1275,10425,2005-05-31,2005-06-07,None,In Process,None,119,LN373447,2004-08-08,47924.19
1276,10425,2005-05-31,2005-06-07,None,In Process,None,119,NG94694,2005-02-22,49523.67

In [18]:
payments

     customerNumber checkNumber paymentDate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
268             495    BH167026  2003-12-26  59265.14
269             495    FN155234  2004-05-14   6276.60
270             496    EU531600  2005-05-25  30253.75
271             496    MB342426  2003-07-16  32077.44
272             496     MN89921  2004-12-31  52166.00

[273 rows x 4 columns]